{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <h2 class="mb-3">{{ resume.full_name }}</h2>

    <p><strong>Email:</strong> {{ resume.email }}</p>
    <p><strong>Phone:</strong> {{ resume.phone }}</p>
    <hr>

    <h4>Summary</h4>
    <p>{{ resume.summary }}</p>

    <h4>Skills</h4>
    <p>{{ resume.skills }}</p>

    <h4>Experience</h4>
    <p>{{ resume.experience }}</p>

    <h4>Education</h4>
    <p>{{ resume.education }}</p>
      <a href="{% url 'download_resume' resume.id %}" class="btn btn-success mt-3">Download Resume PDF</a>
</div>

{% endblock %}
